body {
  font-family: Montserrat, sans-serif;
  font-weight: 400; }

.background-all {
  background-color: #4b3b4e; }

.button {
  background-color: #8d81ac;
  color: #fff;
  transition: .2s;
  border-radius: 100px; }
  .button-large {
    font-size: 17px;
    font-weight: 700; }
  .button-small {
    font-size: 13px; }
  .button:hover {
    background: #afa1d3;
    color: white;
    cursor: pointer; }

button {
  border: none; }
  button:focus {
    outline: none; }

a:hover {
  text-decoration: none; }

.header__background {
  background-color: #fff;
  overflow: hidden; }

.header__follow {
  padding-bottom: 40px; }
  .header__follow-icon {
    font-size: 48px;
    color: white;
    transition: .2s; }
    .header__follow-icon:hover {
      color: #8d81ac; }

@media (max-width: 992px) {
  .header-navigation {
    background-color: #333333; }
    .header-navigation .navbar-nav {
      width: 100%; }
      .header-navigation .navbar-nav .active .nav-link {
        color: #858585; }
      .header-navigation .navbar-nav .nav-link {
        padding: 40px 15px;
        color: white;
        font-size: 32px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        transition: .2s; }
        .header-navigation .navbar-nav .nav-link:hover {
          color: #8d81ac; } }

.header__logo {
  text-decoration: none; }
  .header__logo-icon {
    background: url("../img/Shape_1.png") no-repeat;
    width: 43px;
    height: 41px; }
  .header__logo-text {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    margin-left: 18px;
    font-size: 24px;
    font-weight: 400; }

.fork-app__background {
  background: url("../img/img.jpg") center/cover no-repeat;
  position: relative; }

.fork-app__title {
  padding-top: 88px;
  color: #ffffff;
  font-size: 82px;
  font-weight: 700; }

.fork-app__text {
  padding-top: 22px;
  padding-bottom: 19px;
  color: #8d81ac;
  font-size: 24px; }

.fork-app__subtext {
  color: #848e97;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 472px; }

.fork-app__button {
  padding: 22px 67px;
  position: relative;
  bottom: -60px;
  bottom-style: none; }
  .fork-app__button-text {
    color: #ffffff;
    font-size: 21px;
    font-weight: 700; }
  .fork-app__button-info {
    color: #848e97;
    font-size: 14px;
    position: relative;
    bottom: -80px; }

.revolutionary__background {
  background-color: #fff; }

.revolutionary__title {
  margin-top: 129px;
  margin-bottom: 54px;
  color: #635c73;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase; }

.revolutionary__text {
  opacity: 0.8;
  color: #323232;
  font-family: "Source Sans Pro" sans-serif;
  font-size: 16px; }

.revolutionary__buttons {
  margin-top: 38px;
  margin-bottom: 60px; }

.benefits {
  padding-top: 49px; }
  .benefits__background {
    background-color: #f4f4f4; }
  .benefits__type {
    margin-bottom: 46px; }
  .benefits__title {
    margin-bottom: 61px;
    color: #8d81ac;
    font-size: 48px;
    font-weight: 700; }
  .benefits__icon-1 {
    background: url("../img/icon-1.png") center no-repeat;
    width: 111px;
    height: 64px; }
  .benefits__icon-2 {
    background: url("../img/icon-2.png") center no-repeat;
    width: 90px;
    height: 80px; }
  .benefits__icon-3 {
    background: url("../img/icon-3.png") center no-repeat;
    width: 60px;
    height: 84px; }
  .benefits__icon-4 {
    background: url("../img/icon-4.png") center no-repeat;
    width: 71px;
    height: 71px; }
  .benefits__img {
    overflow: hidden; }
  .benefits__subtitle {
    margin-bottom: 16px;
    color: #323232;
    font-size: 16px;
    font-weight: 600; }
  .benefits__text {
    color: #848e97;
    font-size: 14px; }

.social {
  margin-top: 87px;
  margin-bottom: 79px; }
  .social__user {
    margin-bottom: 48px; }
  .social__carousel-button-right {
    background: url("../img/Arrow_R.png") no-repeat;
    opacity: 0.5; }
  .social__carousel-button-left {
    background: url("../img/Arrow_L.png") no-repeat; }
  .social__carousel-inner {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto; }
  .social__community {
    border-top: #848e97;
    margin-top: 60px; }
    .social__community-button {
      border-style: none;
      border-radius: 4px; }
    .social__community-bg-github {
      background-color: #f3f3f3; }
    .social__community-bg-twitter {
      background-color: #26a6d1; }
    .social__community-bg-facebook {
      background-color: #3b5998; }
    .social__community-text-all {
      color: #ffffff;
      font-size: 21px; }
    .social__community-text-github {
      color: #000000;
      font-size: 21px; }
    .social__community-subtext {
      color: #848e97;
      font-size: 14px; }

.testimonials {
  padding-top: 98px; }
  .testimonials__background {
    background: url("../img/Layer_1.png") center no-repeat;
    background-size: cover;
    position: relative; }
  .testimonials__type {
    margin-bottom: 100px; }
  .testimonials__text {
    color: #fff;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    font-weight: 700; }

.testimonials-pricing__title {
  margin-bottom: 100px;
  color: #fff;
  font-size: 48px;
  font-weight: 700; }

.pricing {
  padding-top: 79px;
  padding-bottom: 77px; }
  .pricing__background {
    background: url("../img/Layer_2.png") center no-repeat;
    background-size: cover;
    position: relative; }
  .pricing__type-bg-top {
    background-color: rgba(255, 255, 255, 0.06); }
  .pricing__type-bg-bottom {
    background-color: rgba(255, 255, 255, 0.11);
    padding-bottom: 38px; }
  .pricing__title {
    padding: 35px 63px 45px 63px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase; }
  .pricing__money {
    padding-top: 36px;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase; }
  .pricing__month {
    margin-top: 46px;
    margin-bottom: 38px;
    opacity: 0.3;
    color: #d4d4d4;
    font-size: 14px;
    font-weight: 600 mr-auto;
    text-transform: uppercase; }
  .pricing__license {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
    margin-top: 31px;
    margin-bottom: 57px;
    color: #fff;
    font-size: 16px;
    font-weight: 600; }
    .pricing__license:before {
      content: "";
      background-color: #8d81ac; }
  .pricing__border {
    margin: 0 auto;
    width: 60px;
    height: 5px;
    background-color: #8d81ac; }
  .pricing__button {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.15); }
    .pricing__button-text {
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600; }
  .pricing__subtext {
    padding-top: 133px;
    opacity: 0.8;
    color: #a291a5;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px; }

.subscription {
  padding-top: 46px;
  padding-bottom: 46px; }
  .subscription__background {
    background-color: #f4f4f4; }
  .subscription__title {
    color: #635c73;
    font-size: 30px;
    font-weight: 700; }

.links {
  padding-top: 79px;
  padding-bottom: 70px; }
  .links__title {
    padding-bottom: 58px;
    text-align: left;
    color: #d3d1da;
    font-size: 28px;
    font-weight: 700; }
  .links__subtitle {
    text-align: left;
    color: #323232;
    font-size: 16px; }
    .links__subtitle-other {
      text-align: left;
      color: #8d81ac;
      font-size: 16px; }
  .links__text {
    padding-top: 14px;
    margin-bottom: 30px;
    text-align: left;
    color: #848e97;
    font-size: 13px; }
  .links__button {
    padding: 10px 24px;
    border: none;
    background-color: #f4f4f4;
    color: #8d81ac;
    font-size: 14px; }

.footer {
  padding-top: 79px;
  padding-bottom: 100px; }
  .footer__logo-subtext {
    padding-top: 24px;
    color: #848e97;
    font-size: 14px; }
  .footer__nav-title {
    color: #323232;
    font-size: 16px; }
  .footer__nav-subtitle {
    color: #8d81ac;
    font-size: 15px; }
  .footer__contacts-title {
    color: #3f3f3f;
    font-size: 30px; }
    .footer__contacts-title-text {
      color: #848e97;
      font-size: 12px;
      text-transform: uppercase; }
  .footer__contacts-subtitle {
    color: #323232;
    font-size: 16px; }
    .footer__contacts-subtitle-text {
      color: #848e97;
      font-size: 14px; }
  .footer__info-title {
    color: #323232;
    font-size: 16px; }
  .footer__info-text {
    text-align: justify;
    color: #848e97;
    font-size: 14px; }
